
.export-button {
  background-color: #c4e4fc ;
  border-radius: 25px;
}

.per-Page select {
  padding: 8px;
  border-radius: 6px;
  border-color: #60646c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
}

.per-Page input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.3);
}

.select-hours select {
  padding: 5px 30px;
  border-radius: 6px;
  border-color: #60646c;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  outline: none;
}

.select-hours select:focus {
  border-color: #3b82f6; /* blue-500 */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: none;
  padding: 5px 30px;



}

.search-bar input {
  font-size: 1rem;
  padding: 5px 30px;
  border-radius: 6px;
  outline: none;
}

.search-bar input:focus {
  
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.3);
}

.custom-tooltip {
  background-color: white;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-Radius: 6px;
  box-Shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}