.App{
    margin: 0px;
}
.big-bar {
    height: 65px;

    background-color: white;
    margin: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto;


   
}


.tabel-wrapper{
    overflow: hidden;
   
   
}

.table-container {
    overflow-y: auto;
    max-height: 630px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    max-width: 1600px;
    min-width: 1250px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    scrollbar-color: lightgray white;
    
}

.nothing-container {
    display: flex;
    background-color: #f8fbff;
    padding: 12px;
    margin: 0px;
}

.top-container{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;    
    border-top-left-radius: 12px;
    padding: 10px; 
    border-radius: 12px;
    width: 100%;
    margin: 0px;
}
.column-container{
    display: flex;
    position: relative;
    float:right;
    background-color: white;
    width: 100%;
    border-bottom-left-radius:12px;
    border-bottom-right-radius: 12px;
}
.bottom-container {
    display: flex;
    position: relative;
    float:right;
    background-color: white;
    width: 100%;
    border-bottom-left-radius:12px;
    border-bottom-right-radius: 12px;
    
}



thead{
position: sticky;
    top: 0;
    z-index: 10; /* Ensure header stays above scrolling content */
    background-color: white; /* Match your header background */
    align-items: center;
}
/*settings for the rows*/
th,
td {
    font-size: 1rem;
    padding: 20px 16px;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
   
}

tr {
    transition: background-color 0.2s ease, border-bottom 0.2s ease;
}
  
tr:hover {
    border-left: 1px solid lightgray;
    border-bottom: 2px solid lightgray; 
    cursor: pointer;
}
  
tr:hover td {
    color: #1a1a1a;
}