/*roboto import*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif; 
  }

.big-bar {
    font-family: 'Roboto', sans-serif;
    height: 64px;
    background-color: white;
    margin: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 0 20px;
    
}

.big-bar span {
    font-weight: 400;
    font-size: 25px;

}

.layout-wrapper{
  
    margin: 0 auto;
    width: 85%;
    overflow: hidden;
}

.table-wrapper{

    display: flex;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    overflow-x: auto;

}


.nothing-container {
    background-color: #f8fbff;
    padding: 12px;

    display: flex;
}   

.top-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.table-container {
    overflow-y: auto;
    max-height: 630px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 14px;
    scrollbar-color: lightgray white;
}

/*table formats the contents of the table*/
table {
    width: 100%;
    border-collapse: collapse;
}

thead{
 
    position: sticky;
    top: 0;
    z-index: 10; 
    background-color: white;
    align-items: center;
}

.bottom-container {
  display: flex;
  justify-content: flex-end; /* move items to the right */
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; 
  width: 100%;
  height: 50px;     
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);


}

/*settings for the rows*/
th{

    font-size: 1rem;
    border-bottom: 1px solid #eaeaea;
    height: 50px;
}

td {
    font-size: 1rem;
    padding: 20px;
 
    text-align: left;
    border-bottom: 1px solid #eaeaea;
   
}

tr {
    transition: background-color 0.2s ease, border-bottom 0.2s ease;
}
  
tr:hover {
    border-left: 1px solid lightgray;
    border-bottom: 2px solid lightgray; 
    cursor: pointer;
}
  
tr:hover td {
    color: #1a1a1a;
}


.icon-button {
 
    background-color: #FFFFFF;
    height: 50px;
    width: 50px;
    border-radius:50%;
    padding: 12px;


}
  
.icon-button:hover {
    background-color: #f8f4f4;
    border-color: #f8f4f4;
}

.charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.bar-chart {  
    border: 1px solid #60646c;
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 50px;
}
.tree-map {  
    border: 1px solid #60646c;
    width: 45%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.line-graph { 
    border: 1px solid #60646c;
    width: 100%;
    padding: 12px;
    padding-bottom: 100px;
}



